@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

:root {
    --gray-light:#C1C8CA;
    --gray-dark: #75797A;
    --white: #FFFFFF;
    --green-dark: #1C5558;
    --green-gradient: linear-gradient(to bottom, #2A767B 0%, #67D4BC  100%)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gray-light);
    padding: 2rem 0 2rem 0;
}

.navbar__logo {
    font-family: 'Urbanist', sans-serif;
    color: #2B777C;
    padding-left: 4rem;
}

.navbar__routes {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-right: 4rem;
}


/* body {
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} */
/* 
header {
    padding: 0 2rem 0 2rem;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    height: 5%;
    align-items: center;
} */
